* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #313192;
    display: flex;
    flex-direction: column;
}

h1 {
    color: hsl(0, 74%, 53%);
    margin-bottom: 1rem;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.gamepics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    width: 100%;
    max-width: 612px;
    margin: 0 auto;
    /* limit the width of the game */
}

.memory-card {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.back-face {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;

}

.front-face {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

